.user-menu {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $sidebar-ligthgray-color;
	
	&__img-wrap {
		width: 40px;
		height: 40px;
		background-color: #ffffff;
	}
	
	&__img-wrap img {
		@extend %responsive-img;
	}

	&__info-wrap {
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: 20px;
	}

	&__name {
		font-size: 16px;
	}

	&__status {
		color: $sidebar-ligthgray-color;
	}
}

@media (min-width: $break-desktop) {
	.user-menu {
		&__img-wrap {
			width: 60px;
			height: 60px;
		}
	
		&__name {
			font-size: 20px;
		}
	}
}